:root {
	--body-background: #2B2D3F;
	--small-button: #FFBD00;
	--big-button: linear-gradient(112.88deg, rgb(255, 188, 25) -4.445%, rgb(254, 233, 44) 103.252%);
	--big-button-hover: linear-gradient(112.88deg, rgb(236, 167, 0) 46.491%, rgb(252, 234, 76) 95.489%);
	--white-default: #FFFFFF;
	--imput-color: #424461;
	--text-gold: linear-gradient(112.88deg, rgb(255, 188, 25), rgb(254, 233, 44));
	--header-color: #34364B;
}